@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Exo 2", monospace, system-ui;
}
body{
    background-color: #34206c;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}