#website-preview{
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
    aspect-ratio: 16/9;
    box-sizing: border-box;
    border: none;
    background-color: var(--base-secondary);
    border-radius: 10px;
}