*{
    margin: 0;
    padding: 0;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar{
    display: none;
}
*::selection{
    background-color: var(--brand-color);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--base-color);
    position: relative;
    overflow-x: hidden;
}