@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 
    Fonts are:
    - Nunito
    - Exo 2
*/

h1, h2, h3, h4, h5, h6{
    font-family: "Exo 2", Arial, monospace;
    color: var(--text-color);
}
p, a, button, label{
    font-family: "Nuntio", Arial, Helvetica, sans-serif;
    color: var(--text-secondary);
}