:root{
    --base-color: #070707;
    --base-secondary: #101010;

    --surface-color: #202020;
    --surface-light: #2c2c2c;
    --surface-lighter: #3f3f3f;

    --text-color: #ecebeb;
    --text-secondary: #e1e1e1;

    --brand-color: #0d57c7;

    --accent-color: #7433b5;
}