.bg-img{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    z-index: -10;
    pointer-events: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
}