header{
    height: 50vh;
    position: relative;
}
header img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(2px) brightness(0.4);
}
header .text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    animation: rise-in 3s ease forwards;
}
header .title{
    font-size: min(5rem, 80vw);
    text-align: center;
}
@keyframes rise-in{
    from{transform: translate(-50%, calc(-50% + 20px)); opacity: 0;}
    to{transform: translate(-50%, -50%); opacity: 1;;}
}