nav{
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;

    background-color: #07070780;
    backdrop-filter: blur(5px);
    z-index: 100;
}
nav .nav-group{
    display: contents;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
}
nav .logo img{
    width: 64px;
    height: 64px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav .nav-links .nav-link{
    font-size: 1.25rem;
    text-decoration: none;
}
nav .nav-links .nav-link:hover{
    text-decoration: underline;
}
nav .nav-btns{
    gap: 1rem;
}
nav .nav-btns .nav-btn{
    background-color: var(--brand-color);
    padding: 1rem 1.75rem;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s ease;
}
nav .nav-btns .nav-btn:hover{
    transform: translateY(-2px);
}
nav .nav-btns .nav-btn:active{
    transform: translateY(0px);
}
nav #sidebar-check{
    display: none;
}
nav #sidebar-open, nav #sidebar-close, nav #sidebar-cover{
    display: none;
}
@media(max-width: 1050px) {
    nav #sidebar-open, nav #sidebar-close{
        display: block;
        cursor: pointer;
    }
    nav #sidebar-close{
        padding: 1rem 0 0 1.5rem;
        cursor: pointer;
    }
    nav .nav-group{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -250px;
        height: 100vh;
        background-color: var(--base-secondary);
        width: 250px;
        transition: 0.3s ease;
    }
    nav .nav-links, nav .nav-btns{
        display: contents;
    }
    nav .nav-links .nav-link, nav .nav-btns .nav-btn{
        padding: 1rem 1.75rem;
        background-color: var(--base-secondary);
        display: block;
        font-size: 1.1rem;
        width: 250px;
        border-radius: 0;
    }
    nav .nav-links .nav-link:hover, nav .nav-btns .nav-btn:hover{
        background-color: var(--brand-color);
        text-decoration: none;
        transform: translateY(0);
    }
    nav #sidebar-check:checked ~ .nav-group{
        right: 0;
    }
    nav #sidebar-check:checked ~ #sidebar-cover{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--base-color);
        opacity: 0.5;
        filter: blur(5px);
    }
}